<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>Invoice Generator</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h1>INVOICE GENERATOR</h1>
    <nav>
    <a href="/invoiceRoute">INVOICE</a>
    <a href="/companiesRoute">COMPANIES</a>
    <a href="/clientsRoute">CLIENTS</a>
    <a href="/productsRoute">PRODUCTS</a>
    </nav>
</body>
</html>
