<!DOCTYPE html>
<html>
<head>
    <title>Invoice Generator</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>INVOICE GENERATOR</h1>
    <a href="/companiesRoute">Manage Companies</a>
    <a href="/clientsRoute">Manage Clients</a>
    <a href="/productsRoute">Manage Products</a>
    <a href="/invoiceRoute">Generate Invoice</a>
</body>
</html>